.lineup-container {
    height: 100vh;
    padding: 4vh;
    position: relative;
    top: 0;
    left: 0;
}

.lineup__background {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
}

.lineup__background-dbg {
    width: 50vw;
    height: auto;
    top: 20vh;
    left: 25vw;
    position: relative;
}

.lineup__background-tree {
    position: absolute;
    opacity: 0.9;
    top: 26vh;
    left: 2.5vw;
    width: 95vw;
    height: 50vh;
}

.lineup__header {
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 4vw;
    z-index: 9;
    position: relative;
    margin-top: 2vh;
}

.lineup__header-buttons {
    background-color: #fff;
    width: auto;
    white-space: nowrap;
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    font-weight: bold;
    color: #000;
    box-shadow: 2px 2px #fa5d02;
    font-family: var(--font-family);
    margin: 0 0 0 2rem;
    cursor: pointer;
    z-index: 2;
}

.lineup__header-buttons:hover {
    background-color: #fa5d02;
    color: #fff;
    box-shadow: 2px 2px #fff;
    z-index: 2;
}

.lineup__content {
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    position: relative;
    height: 50vh;

}

.lineup__content-table {
    margin: 0 2vw;
    table-layout: fixed;
    width: 100%;
}

.lineup__content-table-col {
    padding: 1vh 2rem;
    width: 150px !important
}

.lineup__content-table-row {
}

.lineup-text {
    background-color: #fa5d02;
    border: 2px solid #fff !important;
    border-radius: 8px;
    width: 100%;
    height: auto;
    line-height: 16px;
}

.color-yellow {
    background-color: rgb(255, 251, 0);
}

.color-orange {
    background-color: #fa5d02;
}

.color-blue {
    background-color: blue;
}

.color-red {
    background-color: red;
}

.color-purple {
    background-color: purple;
}

.color-green {
    background-color: green;
}
