.home {
    height: 100%;
    width: 100%;
}

.home-background {
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    position: absolute;
}

.home__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    font-family: var(--font-family);
    padding: 4rem 0 2rem 0;
    z-index: 2;
}

.home__text-first {
    text-align: center;
    font-size: 56px;
}

.home__text-second {
    text-align: center;
    font-size: 48px;
}

.home__text-third {
    text-align: left;
    font-size: 36px;
    white-space: pre-wrap;
    padding: 0 2vw 0 0;
    width: 25vw;
    height: 200px;
}

.home__logo-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    z-index: 2;
}

.home__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 1rem;
    align-items: center;
}

.home__logo-img {
    height: 200px;
    width: 200px;
    z-index: 2;
}

.home__logo-text {
    white-space: normal;
    text-align: center;
    font-family: var(--font-family);
    color: #fff;
    padding: 1rem 0;
}

.home__telegram-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    z-index: 2;
}