.suit-container {
    height: 100vh;
    width: auto;
    margin: 0 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suit-heading {
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    margin: 1vh 0;
}

.suit-firstrow {
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}

.suit-secondrow {
    display: flex;
    justify-content: center;
}

.card-container {
    width: auto;
    height: auto;
    min-width: 360px;
    max-width: 40vw;
    margin: 0 2vh;
    padding: 2vh 2vh;
    border: 8px solid #fa5d02;
    border-radius: 24px;
    background-color: #000000;
}

.card__logotitle {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

.card__logotitle-logo {
    max-height: 48px;
    width: auto;
}

.card__logotitle-title {
    font-size: 36px;
    font-family: var(--font-family);
    font-weight: bold;
    color : #fff;
}

.card__scoreboard {
    padding: 6vh 0vh;
    display: flex;
    justify-content: center;
    height: auto;
}

.card__scoreboard-points {
    color: #fff;
    font-family: var(--font-family);
    font-size: auto;
}