.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    height: auto;
}

.gradient__bg {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(142, 60, 3, 1) 0%, rgba(78, 33, 4, 1) 50%, rgba(0, 0, 0, 1) 100%); 
  
    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(142, 60, 3, 1) 0%, rgba(78, 33, 4, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(142, 60, 3, 1) 0%, rgba(78, 33, 4, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#8E3C03', GradientType=0 );
  
    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(142, 60, 3, 1) 0%, rgba(78, 33, 4, 1) 50%, rgba(0, 0, 0, 1) 100%);
  
    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(142, 60, 3, 1) 0%, rgba(78, 33, 4, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.header__logotitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logotitle-logo {
    margin-right: 2rem;
}

.header__logotitle-logo img {
   width: 100px;
   height: auto;
}

.header__logotitle-title {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 4rem;
}